body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.main-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 0px;
}
.sub-heading_personal {
    color: maroon;
    margin-bottom: 3%;
    font-size: 22px;
}
.first_name {
    color: gray;
    font-size: 9px; 
    margin-left: 33%;
    width: 50px;
}
.last_name {
    color: gray; 
    font-size: 9px; 
    margin-left: 17%;
}
.edu_list {
    display: flex;
}
.edu_list_input {
    width: 30%;
    margin-left: 1%;
}
.address {
    color: gray;
    font-size: 10px;
    margin-left: 56%;
}
#address2 {
    margin-left: 32.8%;
}
.country_list {
    margin-left: 32.8%;
    width: 50%; 
    cursor: pointer;
}
#hobby {
    margin-top: 3px;
    width: 90%;
}
.sub-heading_additional_info {
    color: brown;
    margin-top: 0px;
    font-size: 24px;
}
.comp_name {
    margin-top: 4%;
}
.city_span {
    color: gray;
    font-size: 10px;
    margin-left: 22%;
}
.city_details {
    margin-left: 32.8%;
}
.state_span {
    color: gray;
    font-size: 10px;
    margin-left: 16%;
}
#zipcode {
    width: 20%;
}
.zip_span {
    color: gray;
    font-size: 10px;
    margin-left: 5%;
}
label {
    display: inline-block;
    width: 180px;
}
fieldset {
    border: none;
    padding: 5px;
}
input::-webkit-calendar-picker-indicator {
      opacity: 100;
}
form {
    border-top: 20px solid maroon;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    width: 90%; 
    max-width: 580px; 
    box-sizing: border-box;
}
.submit_button {
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 2%;
    width: 20%;
    padding: 8px 10px;
}
.submit_button:hover {
    cursor: pointer;
}
.button_class {
   display: inline;
   margin-left: 40%;
}

.custom_arrow_input {
    overflow: hidden;
    position: relative;
  }
  
  .custom_arrow_input:after {
    content: "▼";
    font-size: 0.8rem;
    pointer-events: none;
    position: absolute;
    right: 0.2rem;
    top: 0.3rem;
    z-index: 1;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
  }
  
  select::-ms-expand {
    display: none;
  }

@media (max-width: 767px) {
    body {
        flex-direction: column;
        align-items: center;
    }
    label {
        display: inline-block;
        width: 90px;
    }
    input {
        width: 30%;
    }
    .first_name {
        color: gray;
        font-size: 9px; 
        margin-left: 95px;
    }
    .last_name {
        color: gray; 
        font-size: 9px; 
        margin-left: 30%;
    }
    #address2 {
        margin-left: 95px;
    }
    .country_list {
        margin-left: 95px;
    }
    .city_details {
        margin-left: 95px;
    }
    .address {
        color: gray;
        font-size: 10px;
        margin-left: 30%;
    }
    .city_span {
        color: gray;
        font-size: 10px;
        margin-left: 10%;
    }
    .state_span {
        color: gray;
        font-size: 10px;
        margin-left: 24%;
    }
    .zip_span {
        color: gray;
        font-size: 10px;
        margin-left: 22%;
    }
}